.header
  box-shadow: 0 0 10px rgba(0,0,0, 0.2)
  &__inner
    display: flex
    align-items: center
    justify-content: space-between
    padding: 26px 0
    &--block-1
      width: 665px
      display: flex
      align-items: center
    &--block-2
      width: 655px
      display: flex
      justify-content: flex-end
      align-items: center
  &__logo
    font-size: 22px
    font-family: $mulish-semi
    margin-right: 33px
  &__categories
    cursor: pointer
    margin-right: 23px
    position: relative
    &--category
      display: none
      visibility: hidden
      opacity: 0

      position: absolute
      width: 255px
      z-index: 2
      background-color: $white
      border-radius: 0px 0px 20px 20px
      filter: drop-shadow(4px 4px 10px rgba(4, 0, 52, 0.12))

      top: 75px
      &.header-category-active
        display: block
        visibility: visible
        opacity: 1

    &--menu
      background-color: $dark-blue
      padding: 11px 23px 10px 14px
      border-radius: 24.5px
    &--name
      color: $white
      font-family: $mulish-medium
      font-size: 18px
  &__searchbar
    width: 376px
    input
      width: 100%
      height: 48px
      border-radius: 24.5px
      border: 2px solid $dark-blue
      padding-left: 45px
      background: url('../images/header/search.svg')
      background-repeat: no-repeat
      background-position: 14px 12px
      &::placeholder
        font-size: 14px
        font-family: $mulish-regular
        color: rgba(133, 129, 130, 0.7)
  &__notif
    display: flex
    flex-direction: column
    align-items: center
    img
      transform: translate(-2px, 2px)
    &--name
      font-family: $mulish-bold
      font-size: 12px
      transform: translate(-3px,4px)
  &__basket
    padding-left: 12px
    display: flex
    flex-direction: column
    align-items: center
    img
      transform: translate(-3px, 2px)
    &--name
      font-family: $mulish-bold
      font-size: 12px
      transform: translate(-3px, 6px)
  &__marketplace
    margin-left: 19px
    &--btn
      font-size: 18px
      padding: 13px 32px
      background-color: $pink
      color: $white
      font-family: $mulish-bold
  &__login
    margin-left: 18px
    &--btn
      padding: 11px 35px
      font-size: 18px
      color: $dark-blue
      border: 2px solid $dark-blue
      font-family: $mulish-medium
      &__cart
        padding: 11px 27px

  &__profile
    background: $dark-blue
    padding: 8.5px 9px
    border-radius: 50%
    margin-left: 13px
  &__category
    &--item
      padding: 18px 25px
      border-bottom: 0.5px solid rgba(5, 3, 32, 0.15)
      transition: all .1s ease-in
      &:last-child
        border: none
      &:hover
        background: #FBFDFF
        box-shadow: 0px 0px 20px -15px #000
      a
        font-family: $mulish-semi
        font-size: 18px
        text-decoration: none
        color: $dark-blue
