.topsellers
  padding-top: 97px
  &__title
    &--link
      transform: translateY(39px)
  &__cards
    margin-top: 37px
    display: flex
    justify-content: space-between
    flex-flow: row wrap
  &__card
    margin-bottom: 47px
    width: 413px
    border-radius: 30px
    background: #F5F5F5
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04)
    &--header
      background-color: #ffffff
      border-top-left-radius: 30px
      border-top-right-radius: 30px
    &--title
      padding: 20px 24px
      h2
        font-family: $mulish-black
        text-transform: uppercase
        font-size: 24px
        color: $dark-blue
    &--body
      padding: 20px 24px
    &--social
      display: flex
      align-items: center
      transform: translateY(-3px)
      a
        color: #000000
        text-decoration: none
        font-size: 18px
        font-family: $mulish-black
        padding-left: 8px
    &--btn
      background-color: $dark-blue
      border-radius: 1000px
      margin-top: 40px
      a
        display: inline-block
        color: #ffffff
        font-size: 18px
        font-family: $mulish-semi
        padding: 10px 0 10px 143px

