.categories {
  padding-top: 50px;
}
.categories__title {
  text-align: center;
  color: #040034;
}
.categories__title--text {
  font-family: "MulishExtraBold", sans-serif;
  font-size: 32px;
}
.categories__block {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.categories__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 146px;
  height: 146px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  position: relative;
  transition: box-shadow 0.1s ease-in-out;
}
.categories__category:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.categories__category--body {
  text-align: center;

  flex-grow: 1;
  display: flex;
  align-items: center;
}
.categories__category--title {
  display: inline-flex;
  width: 80px;
  font-family: "MulishSemiBold", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(24, 24, 24, 0.7);
  cursor: pointer;
  transition: color 0.1s ease;
}
.categories__category--title:hover {
  color: #040034;
}
.categories__category--title img {
  transform: translate(5px, 2px);
}
.categories__category--list {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
  /* background-color: #ffffff; */
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
  width: 223px;
  padding-top: 10px;
}
.categories__category--list.list-active {
  display: block;
}
.categories__category--list.category__right {
  transform: translateX(-78px);
}
.categories__category--list.category__left {
  left: 0;
}
.categories__category--item {
  border-bottom: 0.5px solid rgba(5, 3, 32, 0.15);
  text-decoration: none;
}
.categories__category--item:last-child {
  border: none;
}
.categories__category--item div {
  padding: 15px 25px;
  font-size: 15px;
  font-family: "MulishMedium", sans-serif;
  color: rgba(24, 24, 24, 0.7);
  transition: color 0.1s ease;
  background-color: #fff;
}
.categories__category--item:last-child > div {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.categories__category--item div:hover {
  color: #040034;
}

.bestsellers {
  padding-top: 32px;
}
.bestsellers__title {
  display: flex;
  justify-content: space-between;
}
.bestsellers__title--text {
  font-family: "MulishExtraBold", sans-serif;
  font-size: 32px;
  color: #040034;
}
.bestsellers__title--link {
  transform: translateY(35px);
}
.bestsellers__title--link a {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: rgba(24, 24, 24, 0.7);
}
.bestsellers__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 35px;
}
.bestsellers__card {
  cursor: pointer;
  display: inline-block;
  max-width: 315px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.1s ease-in-out;
}
.bestsellers__card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.bestsellers__card--desc {
  padding-top: 16px;
  padding-left: 14px;
}
.bestsellers__card--price {
  font-family: "PoppinsBold", sans-serif;
  font-size: 20px;
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 6px;
}
.bestsellers__desc--text {
  display: inline-block;
  max-width: 235px;
  font-family: "PoppinsLight", sans-serif;
  font-size: 14px;
  line-height: 1.2;
}
.bestsellers__desc--text strong {
  font-family: "PoppinsBold", sans-serif;
  color: #040034;
}

.topsellers {
  padding-top: 92px;
}
.topsellers__title--link {
  transform: translateY(39px);
}
.topsellers__cards {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.topsellers__card {
  margin-bottom: 52px;
  width: 413px;
  border-radius: 30px;
  background: #f5f5f5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
}
.topsellers__card--header {
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.topsellers__card--body {
  padding: 20px 24px;
}
.topsellers__card--social {
  display: flex;
  align-items: center;
  transform: translateY(-3px);
  padding: 25px 24px;
}
.topsellers__card--social a {
  color: #040034;
  text-decoration: none;
  font-size: 22px;
  font-family: "MulishBlack", sans-serif;
  padding-left: 8px;
}
.topsellers__card--btn {
  background-color: #040034;
  border-radius: 1000px;
  margin-top: 5px;
}
.topsellers__card--btn a {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-family: "MulishSemiBold", sans-serif;
  padding: 10px 0 10px 143px;
}

.newproducts {
  padding-top: 73px;
}
.newproducts__cards {
  padding-top: 37px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
}
.newproducts__title--link {
  transform: translateY(40px);
}

/*# sourceMappingURL=marketplace.css.map */
